.title {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: "auto";
  font-weight: 700;
  font-style: normal;
}

.currentLeaderTitle {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.currentLeaderSubtitle {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #C3423F;
}