.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  position: relative;
  top: -40px;
}

@media (min-width: 1024px) {
  .card {
    text-align: left;
    position: static;
  }
}
